<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bilibili.datasource.mapper.DsAdminMapper">
    <select id="getDsAdminByLogin" parameterType="com.bilibili.datasource.entites.DsAdmin" resultType="com.bilibili.datasource.entites.DsAdmin">
    select * from ds_admin where admin_account = #{admin_account}
    </select>
    <select id="getDsAdminAll" parameterType="Integer" resultType="com.bilibili.datasource.entites.DsAdmin">
    SELECT admin_id,admin_account,admin_gender,admin_age,admin_firstDept,admin_secondDept,admin_job,updateTime FROM ds_admin ORDER BY admin_id LIMIT #{pageNumber},#{limit};
    </select>
    <select id="getPageSize" resultType="Integer">
        SELECT count(*) FROM ds_admin
    </select>
    <delete id="deleteOneByAccount">
        DELETE FROM ds_admin WHERE admin_account = #{admin_account}
    </delete>
</mapper>