<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.datasource.mapper.DsSectionMapper">
    <select id="getDsSection" resultType="com.bilibili.datasource.entites.DsSection">
        select * from ds_section
    </select>
    <select id="getParentDsSection" resultType="com.bilibili.datasource.entites.DsSection">
        SELECT section_name FROM `ds_section` WHERE section_pid = 1;
    </select>
</mapper>